{% extends 'layout.html' %}
{% load static %}
{% block main %}
<div id="particles-js" class="container-fluid text-center">
<div>
    <p class="display-4 text-center">Window</p>
    <a class="btn btn-danger" href="/catalog">Shop now</a>
</div>
</div>

<section class="container text-center">
    <p class="display-4">Tell Something </p>
    <hr class="hr--small">
    <p>Use this text to share information about your brand with your customers. Describe a product, share
        announcements, or welcome customers to your store.</p>
</section>
<section class="  text-center">
    <p class="display-4 text-center" id="recommended">Recommended for you</p>
    <hr class="hr--small">
    <section class="recommended-items container-fluid text-center">
        {%for product in products %}
        <div class="card">
            <img class="card-img-top" src="{{product.image.url}}" alt="">
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <p class="card-text">{{product.description}}</p>
                <p id="price">&#8377; {{product.price}} </p>
                <a class="btn btn-primary"  href="/checkout/{{product.id}}">Add to cart</a>
            </div>
        </div>
        {% endfor %}
    </section>
    {%endblock%}